<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="fundo d-flex justify-content-center align-items-center">
        <div class="card" style="width: 27rem;">
            <div class="d-flex justify-content-center align-items-center">
                <img src="./Images/retrato1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body color">
              <form action="/usuario/inserir" method="post">
                <p class="card-text text-center user mt-2">USER CADASTRO</p>
                <div class="input-group flex-nowrap d-flex justify-content-center align-items-center">
                    <div class="col-sm-8" ng-controller="Rest">
                        <input type="text" class="form-control input" id="input" placeholder="Nome" aria-label="Username" aria-describedby="addon-wrapping" for="Nome" name="Nome" required>
                      <input type="text" class="form-control input mt-3" id="input" placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping" for="Email" name="Email" required>
                      <input type="text" class="form-control input mt-3" id="input" placeholder="Senha" aria-label="Username" aria-describedby="addon-wrapping" for="Senha" name="Senha" required>
                    </div>
                  </div>
                  <a >
                    <div class="d-flex justify-content-center align-items-center mt-4 text">
                      <button class="btn col-sm-4 botao" id="botao">Enviar</button>
                    </div>
                  </a>
                  <div class="link mt-2">
                    <a href="/cadastrar" class="link">Já possui cadastro?</a>
                  </div>
                </form>
              </div>
            
        </div>
          </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="Script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>