<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css'>

<div class="login">
  <div class="login-contenedor"> 
    <div class="titulo_cadastro">
      <h1>Cadastro de pessoas</h1>
    </div>
     <div class="modo-mostrar" id="logearse">
      <div class="login-contenido">
          <div class="formulario">
            <form action="/cadastro" method="post">
            <ul>
              <li><input type="text" placeholder="Nome" name="Nome" for="Nome"/></li>
              <li><input type="number" placeholder="CPF" name="CPF" for="CPF"/></li>
              <li><input type="number" placeholder="RG" name="RG" for="RG"/></li>
              <li><input type="email" placeholder="Email" name="Email" for="Email"/></li>
              <li><input type="date" placeholder="Data Nascimento" name="Data_nascimento" for="Data_nascimento"/></li>
              <li>
                <label class="mt-3">
                  <input class="input_file" type="url" name="Foto" for="Foto" placeholder="URL"/>
                </label>
              </li>
            </ul>
           
            <div class="formulario login-boton">
                  <button class="enviar" type="submit">CADASTRAR-SE</button>
            
            </div>
             </form>
          </div>

        </form>
      </div>
    </div>
    
    </div>   
  </div>
</div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
