<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>


<body class="body">
  <div class="imagem_banner">
    <h1 class="titulo">REGISTER PEOPLE</h1>
    <p class="subtitulo">Site para registro de pessoas</p>
  </div>
  <h1 class="titulo_home">Pessoas já registradas</h1>
  <div class="texto">
    <p class="subtitulo_home">Nosso site de registro de pessoas é uma plataforma online projetada para simplificar e otimizar a coleta e gerenciamento de informações pessoais. Ele oferece uma maneira conveniente para indivíduos</p>
  </div>
  

<div class="container col-md-12">
	<div class="cover atvImg col-md-4">
		<div class="atvImg-laye col-md-4" data-img="Images/pessoa.jpg"></div>
		<div class="atvImg-layer col-md-4" data-img="Images/pessoa.jpg"></div>
	</div>
	<div class="cover atvImg col-md-4">
		<div class="atvImg-layer col-md-4" data-img="Images/pessoa2.jpg"></div>
		<div class="atvImg-layer col-md-4"data-img="Images/pessoa2.jpg"></div>
	</div>
  <div class="cover atvImg col-md-4">
		<div class="atvImg-layer col-md-4" data-img="Images/pessoa2.jpg"></div>
		<div class="atvImg-layer col-md-4"data-img="Images/pessoa2.jpg"></div>
	</div>
  <a href="/cadastro">
    <div>
  <button class="button-52" role="button">CADASTRE-SE</button>
      </div>
      </a>
</div>
  

<section class="footer">
  <div class="follow">
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-instagram"></a>
      <a href="#" class="fab fa-linkedin"></a>
  </div>
  <div class="credit me-5">Register peoples</div>
</section>



</body>

</html>